<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %> | My Sky Post</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- fontawesome読みこみ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body>
    <!-- ヘッダーの記述を以下のファイルに書いて呼び出す -->
    <%= render 'layouts/header.html.erb' %>

    <%= yield %>
  </body>
</html>
